h1,h2,h3,p,a,ul,li{
	margin:0;
	padding:0;
	text-decoration:none;
}

body,html{
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:0;
		font-family: "Times New Roman", Times, serif;
		font-size:0.9em;
}

/* --------------------------------------------------------------------------- */
body {
	margin: auto;
	text-align: center;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
	Font-Weight: Bold;
}


table{
margin: auto;
border-collapse: collapse;
}

td {
	background-color: LightGray ;
	border: 2px outset;
    padding: 9px;
	height: 2px;
	max-height:2px;
	width: 2px;
	max-width:2px;
}
